<ion-header>
  <ion-toolbar color="bbad">
    <ion-title class="ion-text-center"> Deaths </ion-title>
  </ion-toolbar>
</ion-header>

<!-- 
    code reference:
    https://www.freecodecamp.org/news/how-to-build-your-first-ionic-4-app-with-api-calls-f6ea747dc17a/
    ngModel: save what the user write in the varible searchTerm
    ionChange: detect when the value in the variable change and call to the method
-->
<ion-content padding>

    <ion-searchbar debounce="1000" [(ngModel)]="searchName" (ionChange)="searchChanged($event)" placeholder="Search by name">
    </ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let death of (deaths | async)">
            <ion-icon slot="start" name="skull" color="danger"></ion-icon> 
            Total deaths:  {{ death.deathCount }} <br>
            {{ death.name }}
        </ion-item>
    </ion-list>

</ion-content>
