<ion-header>
	<ion-toolbar color="secondary">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/characters"></ion-back-button>
		</ion-buttons>
		<ion-title>{{ character?.name }}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dislikedCharacter()" *ngIf="isLikedC">
				<ion-icon name="heart" slot="icon-only"></ion-icon>
			</ion-button>

			<ion-button (click)="likedCharacter()" *ngIf="!isLikedC">
				<ion-icon name="heart-outline" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngIf="character">
		<ion-card-content>
			<p>Nickname: {{ character.nickname }} </p>
			<p>Birthday: {{ character.birthday }} </p>
			<p>Occupation: {{ character.occupation }} </p>
			<p>Status: " {{ character.status }} " </p>
			<p>Seasons appearance: {{ character.appearance }} </p>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="character">
		<ion-card-content>
			<p>Picture: </p>
            <img src= "{{ character.img }}">
			<!--<ion-thumbnail>
				<img src= "{{ character.img }}">
            </ion-thumbnail>-->
		</ion-card-content>
	</ion-card>
</ion-content>