<ion-header>
	<ion-toolbar color="bbad">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/quotes"></ion-back-button>
		</ion-buttons>
		<ion-title> Quote Details </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-card *ngIf="quote">
		<ion-card-header>
			<ion-card-title>
                <ion-label text-wrap>
                    <p>Quote:</p> {{ quote.quote }}
                </ion-label>
			</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-item>
				<ion-icon name="receipt" slot="start" color="secondary"></ion-icon>
				<ion-label text-wrap>
					<p>Quote number:</p> {{ quote.quote_id }}
				</ion-label>
			</ion-item>
			<ion-item>
				<ion-icon name="person" slot="start" color="secondary"></ion-icon>
				<ion-label text-wrap>
					<p>Author:</p> {{ quote.author }}
				</ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>
</ion-content>